@use '@/app/styles/mixins/mixins.scss';

.CardListItem {
  width: 80%;
  @include mixins.GridTemplate;
}

@media (max-width: 1450px) {
  .CardListItem {
    grid-template-columns: repeat(2, 350px);
    justify-content: center;
    gap: 50px;
  }
}

@media (max-width: 750px) {
  .CardListItem {
    grid-template-columns: repeat(1, 350px);
    justify-content: center;
  }
}
