@import '@/app/styles/mixins/mixins.scss';

.Paginate {
  padding: 30px 0;
  @include FlexContainer;
  gap: 20px;
}

.navigate_pagination {
  @include FlexContainer;
  gap: 10px;
}

.startPage,
.last_page {
  cursor: pointer;
}

.current_page {
  padding: 0 10px;
  border: 1px solid #ffffff;
}
